.snackbar-content {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 16px;
  border-radius: 8px;
  color: white;
  min-width: 300px;

  &.success {
    background-color: #43a047;
  }

  &.error {
    background-color: #e53935;
  }

  &.warning {
    background-color: #f9a825;
    color: #212121;

    .snackbar-icon {
      color: #212121;
    }
  }

  &.info {
    background-color: #1e88e5;
  }

  .snackbar-icon {
    margin-right: 12px;
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: inherit;
  }

  .snackbar-message {
    flex: 1;
  }
}
